argh>=0.25
docutils>=0.10
future>=0.14
jdcal>=1
MarkupSafe>=0.20
matplotlib>=1.4
mock>=1.0
nose>=1.3
numpy>=1.9
openpyxl>=2.1
pockets>=0.2
py>=1.4
pybivio>=0.1
Pygments>=2
pyparsing>=2
pytest>=2.6
python-dateutil>=2.4
pytz>=2014
requests>=2.5
scipy>=0.14
six>=1.9
Sphinx==1.2
sphinxcontrib-napoleon>=0.3
tox>=1.8
pybivio>=0.1
