QComboBox,
QLabel#heading {
  font-weight: bold;
}
QLabel#heading, QTableView {
  margin-left: 20px;
}
QTextEdit {
  margin-left: 20px;
}
QPushButton {
  padding: 20px;
  font-weight: bold;
}
QPushButton:focus {
  outline: none;
}
